.dashboard{
  margin-top: 150px;
}
.center{
  display: flex;
  justify-content: center;
}
.title {
  margin: 30px;
  color: #092B2B;
}

.t-table{
  background-color: #092B2B;
}
.input-search{
  width: 100%;
  margin-bottom: 20px;
  padding: 5px;
}
.table-container{
  margin-bottom: 100px;
}
