
.title{
  margin: 30px 0;
  color: #092B2B ;
}
.center{
  display: flex;
  justify-content: center;
}

.form {
  width: 50%;
  margin: 0 auto;
  margin-top: 150px;


}

.form-main{
  margin: 10px 20px 40px;
}

.form-label{
  font-weight: bold;
}
.btn-color{
  background-color: #092B2B ;
}
